<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <form >
        <h1><em>Créer un compte </em></h1><br>

        <!-- Mail input -->
        <div class="form-outline mb-4">
        <input type="text" id="registermail" class="form-control" placeholder="Entrez votre mail" required/>
        </div>
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerName" class="form-control"  placeholder="Entrez votre nom" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" required/>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerPassword" class="form-control" placeholder="Entrez votre mot de passe" [(ngModel)]="mot_de_passe" [ngModelOptions]="{standalone: true}" required/>
        </div>
  
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
            aria-describedby="registerCheckHelpText" />
          <label class="form-check-label" for="registerCheck">
            J'ai lu et j'accepte les cookies
          </label>
        </div>
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3" (click)="creer()" >S'enregistrer</button>
        </form> 
        <p>Vous avez déjà un compte?<button class="btn btn-link" routerLink="/login">Se connecter</button></p>
     
    </div></div>